In [1]:
import pandas as pd

In [38]:
df = pd.read_csv(
    "../data/interim/weather/heathrow_weather_2011-2014_linear_interpolated_30min.csv", parse_dates=["ob_time"]
)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70127 entries, 0 to 70126
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ob_time          70127 non-null  object
 1   air_temperature  70127 non-null  float64
 2   rltv_hum         70127 non-null  float64
 3   wmo_hr_sun_dur   70127 non-null  float64
 4   wind_speed       70127 non-null  float64
 5   cld_ttl_amt_id   70127 non-null  int64
 6   visibility       70127 non-null  int64
 7   dewpoint         70127 non-null  float64
 8   wetb_temp        70127 non-null  float64
 9   wind_direction   70127 non-null  int64
dtypes: float64(6), int64(3), object(1)
memory usage: 5.4+ MB

In [33]:
df.describe()

,air_temperature,rltv_hum,wmo_hr_sun_dur,wind_speed,cld_ttl_amt_id,visibility,dewpoint,wetb_temp,wind_direction
count,70127.000000,70127.000000,70127.000000,70127.000000,70127.000000,70127.000000,70127.000000,70127.000000,70127.000000
mean,11.624426,75.545623,0.175506,8.113886,4.487929,2157.515650,7.099144,9.402331,192.205427
std,5.956932,15.448697,0.326806,4.202297,3.309729,1062.271793,4.822699,4.826738,92.413792
min,-7.300000,15.500000,0.000000,0.000000,0.000000,0.000000,-11.800000,-7.700000,0.000000
25%,7.400000,66.000000,0.000000,5.000000,0.000000,1300.000000,3.700000,6.000000,120.000000
50%,11.600000,78.900000,0.000000,7.500000,6.000000,2200.000000,7.400000,9.700000,210.000000
75%,15.800000,88.000000,0.200000,10.500000,8.000000,2900.000000,10.800000,13.100000,260.000000
max,33.700000,100.000000,1.000000,36.000000,9.000000,7500.000000,20.000000,22.900000,360.000000

In [ ]:
df.isna().sum()

ob_time            0
air_temperature    0
rltv_hum           0
wmo_hr_sun_dur     0
wind_speed         0
cld_ttl_amt_id     0
visibility         0
dewpoint           0
wetb_temp          0
wind_direction     0
dtype: int64

In [ ]:
time_diff = df["ob_time"].diff()
print("最大時間差:", time_diff.max())
print("時間差の分布:")
print(time_diff.value_counts().head())

最大時間差: 0 days 00:30:00
時間差の分布:
ob_time
0 days 00:30:00    70126
Name: count, dtype: int64